@charset "utf-8";
/* CSS Document */
img
{
	border: 0px;
}
.Head {
	background:url(../imgs/headbg.jpg) top repeat-x;
	height:103px;
	width:100%;
	min-width:1024px;x
}
.table_southidc{
    background-color: #cccccc;
}
.td_southidc{
    background-color: #ffffff;
}
.tr_southidc{
    background-color: #ffffff;
}
.Head .fHead_top{
   width:100%;
   height:70px;
 }
.Head .fHead_top .fHead_top_left{
   float:left;
   width:435px;
}
.Head .fHead_top ul{
    float:right;
    margin-top:20px;
 }
.Head .fHead_top ul li{
    float: left;
    font-family: 宋体;
    padding: 0px 10px 0px 0px;
    font-weight: 600;
    letter-spacing: 1px;
 }
.Head .fHead_top ul li a{
    color:#FFFFFF;
	display:block;
	font-size: 14px;
	padding: 10px;
	text-decoration: none;
 }
 .Head .fHead_top ul li a:hover{
    background-color:#38628a;
 }
.Head .fHead_down{
   width:100%
   height:33px;
 }
.Head .fHead_down .fHead_down_left{
   font-family: 宋体;
   padding-top: 8px;
   color: #fff;
   display: block;
   float: left;
   padding-left: 10px;
 }
.Head .fHead_down .fHead_down_left a{
    color:#FFFFFF;
    display:inline-block;
	margin:0px 5px;
 }
.Head .fHead_down .fHead_down_left a:hover {
	color:#000;
}
.Head .fHead_down .fHead_down_left a b {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	background-image:url(../imgs/icon_topLink1.png);
	background-repeat:no-repeat;
	margin-right:5px;
}
.Head .fHead_down .fHead_down_left .icon1 {
	background-position:0px 0px;
}
.Head .fHead_down .fHead_down_left .icon2 {
	background-position:0px -16px;
}
.Head .bgLeft {
	height:108px;
	background:url(../imgs/head_bg.png) 0px 0px no-repeat;
}
.Head .bgRight {
	height:108px;
	background:url(../imgs/head_bg.png) 100% -108px no-repeat;
}
.Logo_corp {
	position:absolute;
	background:url(../imgs/logo_corp.png) center no-repeat;
	height:108px;
	width:188px;
	left:20px;
	top:0px;
	display:block;
}
.Logo_sys {
	position:absolute;
	background:url(../imgs/logo_sys.png) center no-repeat;
	height:108px;
	width:271px;
	left:212px;
	top:0px;
	display:inline-block;
	cursor:pointer;
}
.TopLink {
	color:#0076c9;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../imgs/mask_white.png);
	height:20px;
	line-height:20px;
	padding:0px 10px;
}
.TopLink a {
	color:#0076c9;
	display:inline-block;
	margin:0px 5px;
}
.TopLink a:hover {
	color:#000;
}
.TopLink a b {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	background-image:url(../imgs/icon_topLink.png);
	background-repeat:no-repeat;
	margin-right:5px;
}
.TopLink .icon1 {
	background-position:0px 0px;
}
.TopLink .icon2 {
	background-position:0px -16px;
}
.TopMenu {
	position:absolute;
	right:0px;
	bottom:5px;
	height:75px;
	width:493px;
}
.TopMenu .arrowL {
	position:absolute;
	left:0px;
	top:20px;
	background:url(../imgs/topmenu_arrow_L.png) 0px 0px no-repeat;
	width:34px;
	height:34px;
	display:block;
	cursor:pointer;
}
.TopMenu .arrowL:hover {
	background-position:0px -34px;
}
.TopMenu .arrowR {
	position:absolute;
	right:0px;
	top:20px;
	background:url(../imgs/topmenu_arrow_R.png) 0px 0px no-repeat;
	width:34px;
	height:34px;
	display:block;
	cursor:pointer;
}
.TopMenu .arrowR:hover {
	background-position:0px -34px;
}
.TopMenu .screen {
	position:relative;
	left:34px;
	top:0px;
	height:75px;
	width:425px;
	overflow:hidden;
}
.TopMenu .list {
	width:425px;
	height:75px;
}
.TopMenu .list li {
	float:left;
	display:inline-block;
	width:85px;
}
.TopMenu .list a {
	display:inline-block;
	height:75px;
	width:75px;
	margin:0px 5px;
}
.TopMenu .list a:hover {
	background:url(../imgs/TopMenu_bg.png) center top no-repeat;
}
.TopMenu .list li b {
	width:75px;
	height:15px;
	display:inline-block;
	padding:60px 0px 0px 0px;
	text-align:center;
	color:#0076c9;
}
.TopMenu .list a:hover b {
	color:#004677;
}
.TopMenu .cur {
	background:url(../imgs/TopMenu_bg.png) center top no-repeat;
}
.TopMenu .icon1 {
	background:url(../imgs/icon_topmenu_01.png) center top no-repeat;
}
.TopMenu .icon2 {
	background:url(../imgs/icon_topmenu_02.png) center top no-repeat;
}
.TopMenu .icon3 {
	background:url(../imgs/icon_topmenu_03.png) center top no-repeat;
}
.TopMenu .icon4 {
	background:url(../imgs/icon_topmenu_04.png) center top no-repeat;
}
.TopMenu .icon5 {
	background:url(../imgs/icon_topmenu_05.png) center top no-repeat;
}
/* 菜单 */
.Menu {
	height:30px;
	margin-left: 350px;
	position:relative;
	z-index:60;
	padding-left:50px;
}
.Menu a {
	color:#333;
}
.Menu a:hover {
	text-decoration:none;
}
.Menu .arrowL1 {
	position:absolute;
	left:15px;
	top:0px;
	background:url(../imgs/menu_arrow_L1.png) 5px 0px no-repeat;
	width:20px;
	height:31px;
	display:inline-block;
}
.Menu .arrowL1:hover {
	background-position:5px -31px;
}
.Menu .arrowR1 {
	position:absolute;
	right:0px;
	top:0px;
	background:url(../imgs/menu_arrow_R1.png) 5px 0px no-repeat;
	width:20px;
	height:31px;
	display:inline-block;
}
.Menu .arrowR1:hover {
	background-position:5px -31px;
}
.Menu li b {
	font-weight:normal !important;
}
.Menu .lv1 {
	height:31px;
}
.Menu .lv1 li {
	float:left;
	height:31px;
	width:150px;
	text-align:center;
	position:relative;
}
.Menu .lv1 a {
	line-height:31px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#fff;
	height:31px;
	width:150px;
	display:block;
}
.Menu .lv1 .cur {
	background:url(../imgs/menu_lv1.png) 0px -124px repeat-x;
}
.Menu .lv1 li:hover {
	background:url(../imgs/menu_lv1.png) 0px -31px repeat-x;
}
.Menu .lv1 li:hover a, .Menu .lv1 .cur a {
	color:#fff;
}
.Menu .lv1 li:hover b {
	background:url(../imgs/menu_lv1.png) 100% -93px no-repeat;
	display:inline-block;
	width:150px;
}
.Menu .lv2 {
	height:31px;
	position:absolute;
	top:30px;
	/*	left:-116px;*/
    left:0px;
	width:150px;
	display:none;
}
.Menu .lv2 a {
	font-size:12px;
}
.Menu .lv2-1 {
	left:0px;
}
.Menu .lv2wid {
	width:240px;
}
.Menu .lv2 .left {
	background:url(../imgs/menu_lv2.png) 0px 0px no-repeat;
	width:5px;
	float:left;
	display:block;
	height:30px;
}
.Menu .lv2 .right {
	background:url(../imgs/menu_lv2.png) 100% -30px no-repeat;
	width:5px;
	float:left;
	display:block;
	height:30px;
}
.Menu .lv2 .right:hover {
	background:url(../imgs/menu_lv2.png) 100% -30px no-repeat;
}
.Menu .lv2 li {
	background:url(../imgs/menu_lv2.png) 0px -60px repeat-x;
	height:28px;
	float:left;
}
.Menu .lv2 li b {
	background:none !important;
}
.Menu .lv2 li:hover, .Menu .lv2 .cur {
	background:url(../imgs/menu_lv2.png) 0px -90px repeat-x;
}
.Menu .lv2 li:hover a {
	font-size:12px;
}
.Menu .lv2 li:hover b {
	background:url(../imgs/menu_lv2.png) 100% -150px no-repeat !important;
	display:inline-block;
}
.Menu .lv2 li:hover .lv3 li b {
	background:url(../imgs/vsepLine1.png) center bottom no-repeat !important;
}
.Menu .lv3 {
	display:none;
	position:absolute;
    top: 0px;
	left:150px;
}
}
.Menu .lv3 li {
	background:url(../imgs/menu_lv3.png) center repeat-y;
	width:150px;
}
.Menu .lv3 .bottom {
	background:url(../imgs/menu_lv3.png) -222px 0px no-repeat;
	width:150px;
	height:5px;
	display:inline-block;
}
.Menu .lv3 .bottom:hover {
	background:url(../imgs/menu_lv3.png) -222px 0px no-repeat;
}
.Menu .lv1 li:hover .lv2 {
	display:block;
}
.Menu .lv2 li:hover .lv3 {
	display:block;
}
/* 底部 */
.Footer {
	background: url(../imgs/footer.png) top repeat-x;
	height:21px;
	color:#898e93;
	line-height:21px;
	padding: 0px 10px;
	text-align:center;
}
.fotwid {
	width:98.9%;
}
.Footer .left {
	float:left;
	display:inline-block;
	height:21px;
	position:relative;
	text-align:left;
	margin-left:10px;
}
.Footer .right {
	float:right;
	display:inline-block;
	height:21px;
	margin-right:10px;
}
.NoticeLink {
	line-height:20px;
}
.NoticeLink a {
	color:#3c99dc;
}
.NoticeLink b {
	display:inline-block;
	vertical-align:middle;
	background:url(../imgs/icon_bulb.png);
	width:16px;
	height:16px;
	margin-right:4px;
}
.NoticeViewer {
	width:220px;
	position:absolute;
}
.NoticeViewer .t {
	background:url(../imgs/notice_box.png) 0px 0px no-repeat;
	width:220px;
	height:5px;
}
.NoticeViewer .m {
	background:url(../imgs/notice_box.png) -220px 0px repeat-y;
	width:200px;
	padding:10px;
}
.NoticeViewer .b {
	background:url(../imgs/notice_box.png) -440px 0px no-repeat;
	width:220px;
	height:16px;
}
.NoticeViewer .m b {
	display:block;
	color:#f47900;
	height:16px;
	line-height:16px !important;
	margin:0px 0px 4px 0px;
	border-bottom:1px solid #eedebf;
	text-align:left;
	padding-bottom:4px;
}
.NoticeViewer .m b a {
	float:right;
	display:inline-block;
	font-weight:normal;
	color:#f47900;
}
.NoticeViewer .m b a:hover {
	color:#333;
}
.NoticeViewer .m p {
	line-height:16px;
    text-align:left;
	color:#886644;
}
